{% extends "base.html" %}

{% block title %}Home - CodeStar Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Welcome to CodeStar Blog</h1>
    </div>
</div>

<div class="row">
    {% for post in post_list %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt }}</p>
                <p class="text-muted small">
                    By {{ post.author }} | {{ post.created_on|date:"F d, Y" }}
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p>No posts available yet.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
